# markedoc project gitignore file. Exclude all these:
SAMPLE.edoc
README.html
*.dump
*.beam
*.log
doc/
doc/*
samples/doc/*.html
samples/doc/edoc-info
# but allow these (being listed below the above matters)
!/samples/*.md
!overview.edoc
!/samples/what-you-should-get/*
